# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing / cache
.pytest_cache/
.junie/
.agents/

# Databases & local files
*.db
*.sqlite3
uploads/
.coverage
coverage.json
htmlcov/
